# Исключаем скомпилированные файлы
target/
bin/
build/
*.class
*.jar
*.war

# Исключаем файлы IDE
.idea/
*.iml
*.iws

# Исключаем логи и временные файлы
logs/
*.log
*.tmp

# Исключаем большие данные
*.log
*.data
access.log

# Исключаем системные файлы
.DS_Store
Thumbs.db